In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('fsadfsafdsadfsa'))
s

0     f
1     s
2     a
3     d
4     f
5     s
6     a
7     f
8     d
9     s
10    a
11    d
12    f
13    s
14    a
dtype: object

In [3]:
s.unique()

array(['f', 's', 'a', 'd'], dtype=object)

In [4]:
s.value_counts()

s    4
a    4
f    4
d    3
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [6]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [7]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64